.side-menu {
  position: fixed;
  left: -310px;
  top: 0;
  bottom: 0;
  z-index: 200;
  padding: 24px;
  width: 300px;
  background-color: var(--light-color);
  transition: all .3s ease-in-out;
}

.side-menu.open {
  left: 0;
}

.close-container {
  position: absolute;
  top: 5px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}

.close-container:hover {
  transform: scale(1.2);
}

.nav__link {
  font-size: 1.5rem;
}

.logout-btn {
  font-size: 1.5rem;
}

.is-active {
  font-weight: bold;
}
